.box {
    background-color: #4B4B4B;
    margin-left: 110px;
    margin-right: 110px;
    padding: 50px;
}
.text {
    font-size: 80px;
}
.text1 {
    text-transform: full-width;
    font-size: 145%;
    padding: 50px;
}
.text2 {
    text-indent: 20px;
    font-size: 150%;
    padding: 25px;
    text-decoration-line: underline;
}
.images {
    width: 20em;
    height: 20em;
}
.flex-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    text-align: center;
    column-count: 3;
}