.box {
    background-color: #4B4B4B;
    margin-left: 110px;
    margin-right: 110px;
    padding: 50px;
}
.text {
    font-size: 80px;
}
.text1 {
    text-transform: full-width;
    font-size: 145%;
    padding: 50px;
}
.text2 {
    text-indent: 20px;
    font-size: 150%;
    padding: 25px;
    text-decoration-line: underline;
}
#section_title {
    font-size: 250%;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 100px;
}
.images {
    width: 20em;
    height: 20em;
}
.flex-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    text-align: center;
    column-count: 3;
}
.image {
margin: 20px;
}
/*This css is for Chord C html*/
#image1 {
    margin-left: 33px;
}
#image2 {
    margin-left: 33px;
}
#image3 {
    height: 330px;
    width: 330px;
}
.box1 {
    column-count: 2;
}
.text3 {
    text-align: center;
    color: aqua;
    font-family: Arial;
    margin: 50px 50px; 
    font-size: 116%;
    line-height: 5.0;
}
/*End of Chord C html*/